<!DOCTYPE html>
<html>
<head> 
<style>
html { 
  height: 100%;
}
body { 
  background-image: linear-gradient(to right, #FFFFFF, rgb(147, 172, 239));
}
</style>
    <title>Calculatrice</title>
</head>
<body>
<center>
    <h1 style="color:Blue;">Bienvenue dans la calculatrice!</h1>
    <form action="/calculate" method="POST">
        <label for="surname">Saisissez votre Prénom:</label>
        <input type="text" id="surname" name="surname" required><br><br>
        <label for="name">Saisissez votre Nom:</label>
        <input type="text" id="name" name="name" required><br><br>
        <label for="num1">Premier nombre:</label>
        <input type="text" id="num1" name="num1" required><br><br>
        <label for="num2">Deuxième nombre:</label>
        <input type="text" id="num2" name="num2" required><br><br>
        <label for="operation">Opération:</label>
        <select id="operation" name="operation" required>
            <option value="addition">Addition</option>
            <option value="soustraction">Soustraction</option>
            <option value="multiplication">Multiplication</option>
            <option value="division">Division</option>
        </select><br><br>
        <input type="submit" value="Calculer">
    </form>
</center>
</body>
</html>
